<% if object.errors.any? %>
  <div id="error_explanationx" class="alert  alert-danger">
     <a href="#" class="close" data-dismiss="alert">x</a>
     <h4><%= pluralize(object.errors.full_messages.uniq.count, "error") %> prohibited this record from being saved:</h4>
     <ul>
       <% object.errors.full_messages.uniq.each do |msg| %>
          <li><%= msg %></li>
       <% end %>
     </ul>
  </div>
<% end %>
