<div class='btn-group pull-right user_details' id='<%= segment %>_btn'>
  <span>
    <% if obj.present? && obj.updated_at.present? %>
      <i class='icon-user'></i> <%= obj.segment.user.username  %>
        <span> | <%= obj.updated_at.strftime('%m/%d/%Y') %></span>
    <% end %>
  </span>
  <span>
    <% unless current_party.published? %>
        <%= f.submit 'APPLY TO DIGITAL MATCH', class: 'custom btn btn-default', id: 'apply_to_digital_match_'+ segment %>
    <% end %>
  </span>
</div>