.content-wrapper{:style => "min-height: 918px;"}
  / Content Header (Page header)
  %section.content-header
    %h1
      Dashboard
    %ol.breadcrumb
      %li
        %a{:href => "#"}
          %i.fa.fa-dashboard
          Home
      %li.active Dashboard
  / Main content
  %section.content
