%body.skin-red
  .wrapper
    .content-wrapper{style: 'margin-left: 0px;'}
      = render partial: 'layouts/header'
      .container-fluid
        %section.content
          .jumbotron
            %h1.text-center Inspect Date
            %p.lead.text-center Your trust is our foundation, your reference is our home