<tr class='grey_color'>
  <td width='65%'><%= @person.present? ? 'Person Details' : 'Address Details' %></td>
  <td width='10%' class='align-center'>Media</td>
  <td width='10%' class='align-center'>Segment</td>
  <td width='15%' class='align-center'>Actions</td>
  <td></td>
</tr>