/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap/bootstrap
 *= require production_tab
 *= require dms_home
 *= require ie-only
 *= require general_tab
 *= require select_tab
 *= require all_width_margins
 *= require metrics_tab
 *= require dates_tab
 *= require addressing_tab.css
 *= require affliations_tab
 */

 .clear_with_height{ clear:both; height: 10px; }
 
 .lft_mrgn_3{
  margin-left:13%;
 }


body {

  padding-top: 100px;
}

.form-group input {
    width:300px;
}

.form-group select {
    width:200px;
}

/*
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
*/

select.date-select {
  width:auto;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  display: inline;
}

.fieldset {
  border:1px solid #ccc;
  padding:10px;
}

.legend {
  font-size: 1.2em !important;
  font-weight: bold !important;
  text-align: left !important;
  width: auto;
  padding:0 10px;
  border-bottom:none;

}
.sample_class {
  background-color: #ffffff;
}

/* navbar styles */
/*.active {
 background-color:blue; // Change the color 
}*/