/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.vertical_space {
  margin:10px 0 10px 0;
}

.field_space {
  margin-left:10px;
}

.item_header {
  margin-top:5px;
  padding:5px;
  border:1px solid #d3d3d3;	
}
