/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

a.media_select:link, a.media_select:visited {
/* color: #509c5b;*/
  color:#0000FF;
  text-decoration: none;
}

a.media_select:hover {
/* color: #509c5b;*/
 /*color:#509c5b;*/
/* background-color:#FFFFFF;*/
text-decoration:underline; 
}
em {
  background:#FFFBCC;
}