%header.main-header
  %a.logo{:href => "#"}
    %b> Inspect
    DATE
  / Header Navbar: style can be found in header.less
  %nav.navbar.navbar-static-top{:role => "navigation"}
    / Sidebar toggle button
    %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
      %span.sr-only Toggle navigation
    / Navbar Right Menu
    .navbar-custom-menu
      %ul.nav.navbar-nav
        - if current_user.present?
          %li.dropdown.user.user-menu
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %span.hidden-xs Welcome
          %li.dropdown.user.user-menu
            = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'dropdown-toggle'
        - else
          %li.dropdown.user.user-menu
            / = link_to 'System Admin', new_user_session_path, class: 'dropdown-toggle'